*{
    margin:0;
    padding:0;

}
body{
    background-color: #313131;
}
.navv {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: #2b2929;
}
.nitflix {
    margin-left: 9%;
    color: white;
    font-size: 25px;
}
.form {
    margin-right:9%;   
}
.form input {
   
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-style: 2px solid ;
    border-color:white ;
    background-color: #2b2929;
    height:100%;
    width:100%;
    outline: none;
    color: white;
    
}
.main--movies{
    display:inline-block;
    margin-left: 9%;
    margin-top: 1%;
    height:25vh;
   
}
.main--img {
    height:100%;
}
.main--hthree{
    display:inline;
    color:white;
    
}
.main--span{
    color:white;
    margin-left: 6px;
}
.main--spann{
    color:white;
}
@media (max-width:350px){
    .navv {
        display: flex;
        /*justify-content: space-between;*/
        padding: 25px;
        background-color: #2b2929;
    }
    .nitflix {
        margin-right: 30%;
        color: white;
        font-size: 25px;
    }
    .form {
        margin-right:9%;   
    }
    .form input {
       
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom-style: 2px solid ;
        border-color:white ;
        background-color: #2b2929;
        height:100%;
        width:100%;
        outline: none;
        color: white;
        
    }
    .main--movies{
        
       display: block;
       margin-left: 23%;
    }
    .main--hthree{
        display:block;
        color:white;
        
    }
    .main--span{
        color:white;
        margin-left: 6px;
    }
    .main--spann{
        color:white;
    }
}

@media ( max-width:551px){
    .main--movies{
        
        display: flex;
        flex-wrap: wrap;
        margin-left: 23%;
     }
     .main--hthree{
         display:block;
         color:white;
         
     }
     .main--span{
         color:white;
         margin-left: 6px;
     }
     .main--spann{
         color:white;
     }
}

@media (max-width:651){
    .main--movies{
        
        display: inline;
        /*margin-left: 23%;*/
     }
     .main--hthree{
         display:block;
         color:white;
         
     }
     .main--span{
         color:white;
         margin-left: 6px;
     }
     .main--spann{
         color:white;
     }
}